[access "refs/heads/*"]
        label-Code-Review = -2..+2 group contrail-ci-test-core
        label-Approved = +0..+1 group contrail-ci-test-core
        workInProgress = group contrail-ci-test-core
[access "refs/heads/R1.10"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/heads/R1.30"]
        exclusiveGroupPermissions = label-Approved
        label-Approved = +0..+1 group Release Managers
[access "refs/tags/*"]
        create = group contrail-ci-test-core
        pushTag = group contrail-ci-test-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
[notify "team"]
        email = ci-admin@opencontrail.org
